@import 'vars';
@import 'mixins';

.right {
    margin-left: 283px;
}

.topHead {
    background: rgb(241, 228, 230);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-heading {
        color: $colorSite;
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.breadсrumbs {
    &__ul {
        list-style-type: none;
        display: flex;
    }

    &__li:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        color: #636363;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;

    }

    &__link {
        font-style: normal;
        color: #636363;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;

    }

    &__li:last-child .breadсrumbs__link {
        color: $colorSite;
        font-weight: 700;
    }

    &__link:hover {
        color: $colorSite;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.filter-sort {
    height: 132px;
    padding-top: 39px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: $gapGrid;
}

.filter {
    padding-top: 13px;
    width: 277px;
    box-sizing: border-box;
    position: absolute;
    left: -310px;
    z-index: 10;

    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter-summary-head {
        color: $colorSite;
    }

    &[open] path {
        fill: $colorSite;
    }

    &-summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;


        &-head {
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: $colorTextSite
        }
    }

    &-container {
        background-color: #fff;
        padding: 0px 16px 16px;


    }

    &-item {
        margin-top: 16px;

        &-heading {
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: $colorFilter;
            padding: 8px 11px 11px 11px;
            border-bottom: 1px solid #ebebeb;
            border-left: 5px solid $colorSite;

        }
    }

    &-item[open] .filter-item-heading {
        color: $colorSite;
    }

    &-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;

        &-link {
            font-size: 14px;
            line-height: 33px;
            font-weight: 400;
            color: $colorFilter;
        }

        &-link:hover {
            color: $colorSite;
        }
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 15px;


    &-details {
        position: relative;
        width: 263px;
    }

    &-summary {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 263px;

        &-heading {
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: $colorFilter;
        }
    }

    &-box {
        position: absolute;
        display: flex;
        gap: 10px;
        width: 263px;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #6f6e6e;

        &-link {
            padding: 0px 10px;
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
            color: #6f6e6e;
        }

        &-link:hover {
            color: $colorSite;
        }

        &-sizeCheck {
            display: flex;
            gap: 9px;
            align-items: center;
            padding-right: 10px;

            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            text-transform: uppercase;
            color: $colorFilter;
        }

        &-sizeCheck:hover {
            color: $colorSite;
        }
    }
}

.sortBy {
    width: 815px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f3f3f3;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;

    &-box {
        display: flex;
    }

    &-sort {
        background-color: #ffffff;
        border: 1px solid #ebebeb;
        padding-left: 5px;
        padding-right: 5px;

        &-text {
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
            color: #6f6e6e;
        }
    }

    &-summary {
        background-color: #ffffff;
        border: 1px solid #ebebeb;
        padding-left: 5px;
        padding-right: 5px;

        &-name {
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
            color: #6f6e6e;
        }
    }
}

.imgCarusel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;

    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.14);

        &-left {
            fill: #ffffff;
        }

        &-right {
            fill: #ffffff;
        }
    }

}

.parameters {
    display: flex;
    height: 630px;
    padding-bottom: 50px;

    &-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-left: 230px;
        margin-right: 230px;
        padding-top: 50px;
        padding-bottom: 100px;
        width: 1140px;
        border: 1px solid #eaeaea;
        background-color: $backgroundSite;
        transform: translateY(-60px);
    }

    &-filter {
        padding-top: 30px;
        display: flex;
        position: relative;
    }

    &-pos1 {
        position: absolute;
        top: 10px;
        left: -266px;
    }

    &-pos2 {
        position: absolute;
        top: 10px;
        left: -76px;
    }

    &-pos3 {
        position: absolute;
        top: 10px;
        left: 110px;
    }

    &-details {
        width: 145px;
    }

    &-summary {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;

        &-heading {
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
        }
    }

    &-box {
        // display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #eaeaea;
        background-color: #fff;
        padding: 7px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #bcbcbc;

        &-item:hover {
            color: $colorSite;
        }

        &-sizeCheck:hover {
            color: $colorSite;
        }

        &-sizeCheck {
            display: flex;
            gap: 9px;
            align-items: center;
            padding-right: 10px;

            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            text-transform: uppercase;
            color: $colorFilter;
        }

        &-input {
            border: 1px solid #eaeaea;
            padding: 7px;
            width: 140px;
        }
    }


    &-but {
        display: block;
        border: 2px solid $colorSite;

        &__button {
            color: $colorSite;
            width: 535px;
            height: 55px;
            gap: 15px;
        }
    }

    &-but:hover svg path {
        fill: #fff;
    }

    &-textCard {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
    }
}

.descript {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    // padding-top: 100px;
    // padding-bottom: 200px;
    width: 642px;
    padding-bottom: 60px;
    border-bottom: 1px solid #eaeaea;


    &-alltext {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;

        // padding-left: 260px;
        // padding-right: 260px;

        &-title {

            font-weight: 700;
            color: #f16d7f;
        }

        &-subtitle {
            font-size: 18px;
            font-weight: 900;
            text-transform: uppercase;
            color: #4d4d4d;
        }

        &-text {
            text-align: center;
            color: #5e5e5e;
        }
    }

    &-info {
        display: flex;
        gap: 60px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;


        &-namedata {
            color: #b9b9b9;
        }

        &-data {
            color: #2f2f2f;
        }
    }

    &-price {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: $colorSite;
    }
}

.product {
    // padding-top: 100px;
    padding-bottom: 100px;

    &-titleText {
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
    }

}

.cont-bottom {
    display: flex;
    justify-content: space-between;
    width: 820px;
    align-items: center;
}

.pagination {
    --bs-pagination-color: #c4c4c4;
    --bs-pagination-border-color: none;
    --bs-pagination-hover-color: #f16d7f;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.all-view {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;

    &__button {
        height: 40px;
        width: 150px;
        border: 2px solid $colorSite;
        color: $colorSite;
    }

    &-text {
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        // color: $colorSite;
        padding: 0px 10px;
    }
}

.advantages {
    background-color: #222224;
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-left: 25px;
    padding-right: 25px;

    &-title {
        padding-top: 20px;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #fbfbfb;
    }

    &-subtitle {
        font-size: 14px;
        line-height: 23px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #fbfbfb;
    }
}

.registration {
    padding-top: 80px;
    padding-bottom: 100px;
}

.regcontainer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b3b2b2;

    &-name {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorTextSite;
    }

    &-box {
        display: flex;

    }


    &-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 570px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &-heading {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-title {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: $colorTextSite;
    }

    &-subtitle {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #b3b2b2;
    }

    &-radiobox {
        margin-right: 0.4rem;
    }

    &-radiobox[type='radio'] {
        accent-color: #232323;
    }

    &-forma {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-data {
        display: flex;
        flex-direction: column;
        gap: 8px;

    }

    &-label {
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: $colorTextSite;
    }

    &-input {
        border: 1px solid #eaeaea;
        padding: 7px;
        width: 390px;
    }

    &-required {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #ff0d0d;
    }
}

.btn {
    display: flex;
    align-items: center;
    gap: 20px;

    &__button {
        border: 1px solid #eaeaea;
        width: 180px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
    }

    &-forgot {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: $colorTextSite;
    }
}